{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Tree Plotter</h1>
    <p class="lead">Welcome to TreePlotter</p>
</div>

<div class="row">
    <div class="col-xs-12 col-md-4">
        <button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>
    </div>
    <div class="col-xs-12 col-md-4">.col-xs-6 .col-md-4</div>
    <div class="col-xs-12 col-md-4">.col-xs-6 .col-md-4</div>
</div>

{% endblock %}
